/*---------- Sass Variabler ----------*/
$primary_black: #000000;
$primary_white: #ffffff;
$primary_gray: #F3F3F3;  
$primary_green: #178841;
/*-----*/
/*---------- fonts ----------*/

/*-----*/
/*---------- general --------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

/*-----*/
/*---------- Header --------- */

header{
    background-color: $primary_white;
}

/*-----*/
/*---------- Navigation --------- */

li{
    list-style: none;
}

a{
    color: $primary_black;
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: $primary_black;
}

.hamburger{
    display: block;
    cursor: pointer;
}

.hamburger.active .bar:nth-child(2){
    opacity: 0;
}
.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    flex-direction: column;
    background-color: $primary_white;
    width: 100%;
    transition: 0.3s;
}

.nav-item{
    margin: 16px 0;
}

.nav-menu.active{
    left: 0;
}

/*  Dropdown */

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;  
    color: $primary_black;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: $primary_gray;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* tre colums der floats ved siden af hinanden */
.column {
    float: left;
    width: 33.3%;
    padding: 10px;
    height: 250px;
    display: inline-table;
}
  
.column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*-----*/
/*---------- Footer --------- */

/*-----*/
/*---------- Forside slider --------- */

/*-----*/
/*---------- xx --------- */


/* -------------- media query tablet --------------- */
@media screen and (max-width: 950px) and (min-width: 672px){
}


/* ------- media query (ipad pro +) laptop --------- */
@media screen and (min-width: 950px){
    .nav-menu{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        gap: 60px;
        position: inherit;
    }

    .navbar{
        flex-direction: row;
    }

    .nav-link{ /*Hover effect*/
        transition: 0.7s ease;
    }

    .navbar a:hover, .dropdown:hover{
        background-color: $primary_green;
    }

    .hamburger{
        display: none;
    }

    /* Dropdown */

    .column {
        width: 25%;
    }


}