/*---------- Sass Variabler ----------*/
$primary_black: #000000;
$primary_white: #ffffff;
$primary_gray: #F3F3F3;  
$primary_green: #178841;

$sekendary_gray: #CBCBCB;
/*-----*/
/*---------- fonts ----------*/

/*-----*/
/*---------- general --------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

h1{
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

h2{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 6% 0;
}

h3{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    padding: 2% 0;
}

p{
    font-size: 16px;
    font-weight: normal;
}

.green_btn{
    background-color: $primary_green;
}

.gray_btn{
    background-color: $sekendary_gray;
}

.rounded_btn{
    border-radius: 5px;
}

.white_text{
    color: $primary_white;
}

.border_top{
    border-top: 1px solid $primary_black;
}

.border_bottom{
    border-bottom: 1px solid $primary_black;
}

/*-----*/
/*---------- Header --------- */

header{
    background-color: $primary_white;
    position: fixed;
    z-index: 4;
    width: 100%;
}

/*-----*/
/*---------- Navigation --------- */

li{
    list-style: none;
}

a{
    color: $primary_black;
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: $primary_black;
}

.hamburger{
    display: block;
    cursor: pointer;
}

.hamburger.active .bar:nth-child(2){
    opacity: 0;
}
.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu{
    position: fixed;
    display: flex;
    left: -100%;
    top: 120px; /*70px*/
    z-index: 4;
    flex-direction: column;
    background-color: $primary_white;
    width: 60%; /*100%*/
    transition: 0.3s;
}

.nav-item{
    margin: 16px 0;
}

.nav-menu.active{
    left: 0;
}


/*  Dropdown */

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;  
    font-weight: bold;
    color: $primary_black;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: $primary_gray;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: $primary_white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* tre colums der floats ved siden af hinanden */
.column {
    float: left;
    padding: 10px;
    height: 250px;
    display: inline-table;
}
  
.column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*-----*/
/*---------- Footer --------- */

.footer_space{
    padding: 10% 0;
}

.footer_info{
    text-align: center;
}

.some_wrap{
    display: flex;
    justify-content: space-between;
    padding: 0 30%;
}

.fb_logo, .insta_logo, .yt_logo{
    width: 45%;
}

.emerke{
    padding-top: 10%;
}

.e_merket_logo{
    width: 30%;
}


/*-----*/
/*---------- Forside slider --------- */

main {
    padding-top: 42%;
}

/*-----*/
/*---------- Img collection --------- */

.img_category{
    padding: 10px 5%;
}

.img_category_img{
    opacity: 60%;
    display: block;
    max-width: 100%;
    cursor: pointer;
}

#img_category_p{
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.color_year, .color_trends{
    width: 48%;
}

.img_wrap_toBeside{
    display: flex;
    justify-content: space-between;
}

.metallic_colors_p{
    bottom: 98px;
    left: 0px; /*174px*/
}

.color_year_p{
    bottom: 190px;
    left: 38px;
}

.color_trends_p{
    bottom: 190px;
    left: 0px;/*38*/
}

.paint_furniture_p{
    bottom: 50px;
    left: 0px;/*150px*/
}

.get_the_style_p{
    bottom: 180px;
    left: 18px; 
}

/*-----*/
/*---------- Find your paint --------- */

.find_paint{
    background-color: $primary_gray;
}

.find_paint_wrap {
    padding: 10px 5%;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    width: 100%; 
    height: 100%; 
}

/* 
.find_paint_text_site {
   grid-area: 1 / 1 / 2 / 3; 
}*/
  
.find_paint_img_site { 
    grid-area: 1 / 2 / 2 / 3; 
}
  

.find_paint_p{
   font-weight:600;
   text-align: center;
}

.find_paint_btn{
    text-align: center;
    padding: 5px 0px;
    margin: 15px 20%;
}

.color_code_img{
    width: 100%;
}

/*-----*/
/*---------- Loft eller væg maling --------- */
.cealing_wall_wrap{
    display: flex;
    padding: 10px 5%;
    overflow: hidden;
}
/*-----*/
/*---------- Top 4 most sold products  --------- */

#myDIV, #myDIV2 {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
}

#myDIV2 {
    display: none;
}

/*-----*/
/*---------- Brands --------- */

.brands_wrap{
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    width: 100%;
    padding: 10px 5%;
}

.dyrup_logo, .gori_logo, .hempel_logo {
    width: 100%;
}

/*-----*/
/*---------- Costumers says --------- */



/* -------------- media query tablet --------------- */
@media screen and (max-width: 950px) and (min-width: 672px){

    /*Navigation*/

    .nav-menu {
        width: 100%;
        justify-content: space-between;
        background-color: $primary_white;
    }

    .dropdown .dropbtn {
        font-size: 18px;  
        color: $primary_black;
        border: none;
        outline: none;
        padding: 14px 16px;
        background-color: inherit;
        margin: 0;
    }

    /*Category img section*/
    
    .img_category {
        overflow: hidden;
    }

    .metallic_colors{
        float: right;
        width: 45%;
        padding-left: 5%;
    }

    .img_wrap_toBeside{
        width: 55%;
        justify-content: space-between;
    }

    .paint_furniture{
        width: 55%;
    }

    .get_the_style{
        float: right;
        width: 45%;
        padding-left: 5%;
    }



}


/* ------- media query (ipad pro +) laptop --------- */
@media screen and (min-width: 950px) {

    /*header / navigation*/
    .nav-menu{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        gap: 60px;
        position: inherit;
        top: 70px;
        width: 100%; 
    }

    .dropdown .dropbtn {
        font-size: 25px;
    }

    .dropdown:hover .dropdown-content {
        font-size: 22px;
        padding-left: 5%;
    }

    .navbar{
        flex-direction: row;
    }

    .nav-link{ /*Hover effect*/
        transition: 0.7s ease;
    }

    .navbar a:hover, .dropdown:hover{
        background-color: $primary_green;
    }

    .hamburger{
        display: none;
    }

    /* Dropdown */

    .column {
        width: 25%;
    }

    /*Category img section*/

}