/*---------- Sass Variabler ----------*/
$primary_black: #252525;
$primary_white: #ffffff;
$primary_gray: #F3F3F3;  
$primary_green: #178841;

$sekendary_gray: #CBCBCB;

/*-----*/
/*---------- general --------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

h1{
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
}

h2{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 6% 0;
    font-family: 'Bebas Neue';
}

h3{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    padding: 2% 0;
    font-family: 'Bebas Neue';
}

p{
    font-size: 16px;
    font-weight: normal;
    font-family: 'Abel', sans-serif;
}

.product_name{
    font-size: 12px;
}

.Product_price{
    color: $primary_green;
    font-weight: bold;
    padding: 5px;
}

.gray_btn{
    background-color: $sekendary_gray;
}

.active_btn{
    background-color: $primary_green;
}

.green_btn{
    background-color: $primary_green;
}

.rounded_btn{
    border-radius: 15px;
}

.white_text{
    color: $primary_white;
}

.border_top{
    border-top: 1px solid $primary_black;
}

.border_bottom{
    border-bottom: 1px solid $primary_black;
}

/*-----*/
/*---------- Header --------- */

header{
    background-color: $primary_white;
    position: fixed;
    z-index: 4;
    width: 100%;
}

.logo{
    max-width: 50%;
}

.rigt_top_icons{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.prfile_img{
    width: 8%;
    margin-left: 4%;
}

.Basket_img{
    width: 12%;
    background-color: $primary_green;
    border-radius: 50%;
    height: 35px;
    margin: 10px;
    margin-top: -2px;
    float: right;
}

/* search bar */

.search_wrapper{
    text-align: center;
    padding-left: 18%;
    height: 10%;
    height: 0;
    padding-top: 15px;
}

#searchBar {
    width: 50%;
    /*pad: 1px;*/
    padding: 3px;
    padding-top: 4px;
    margin-top: 4px;
}

#searchBtn {
    width: 15%;
    background-color: $primary_green;
    color: $primary_white;
    margin-left: -3.6px;
    padding: 3px;
    padding-top: 4px;
    margin-top: 4px;
}

/*-----*/
/*---------- Navigation --------- */

li{
    list-style: none;
}

a{
    color: $primary_black;
    text-decoration: none;
}

.navbar{
    min-height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    width: 20%;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: $primary_black;
}

.hamburger{
    display: block;
    cursor: pointer;
}

.hamburger.active .bar:nth-child(2){
    opacity: 0;
}
.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu{
    position: fixed;
    display: flex;
    left: -100%;
    top: 100px; /*70px*/
    z-index: 4;
    flex-direction: column;
    background-color: $primary_white;
    width: 60%; /*100%*/
    transition: 0.3s;
    /*border-right: 1px solid $primary_black;
    border-bottom: 1px solid $primary_black;*/
}

.nav-item{
    margin: 12px 0;
}

.nav-menu.active{
    left: 0;
}


/*  Dropdown */

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;  
    font-weight: bold;
    color: $primary_black;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: $primary_gray;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: $primary_white;
}

.show_drop_menu{
    display: block;
}

/* tre colums der floats ved siden af hinanden */
.column {
    float: left;
    padding: 10px;
    height: 250px;
    display: inline-table;
}
  
.column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*-----*/
/*---------- Footer --------- */

.footer_space{
    padding: 10% 0;
}

.footer_info{
    text-align: center;
}

.some_wrap{
    display: flex;
    justify-content: space-between;
    padding: 0 30%;
}

.fb_logo, .insta_logo, .yt_logo{
    width: 60%;
}

.emerke{
    padding-top: 10%;
}

.e_merket_logo{
    width: 30%;
}

.opning_wrap{
    padding-top: 5%;
    display: flex;
    justify-content: space-evenly;
}

.opning_days{
    float: left;
}

.opning_time {
    float: right;
}

#news_letter{
    width: 50%;
}

#newshBtn {
    width: 15%;
    margin-left: -3.93px;
}

/*Footer gray*/

.footer_gray {
    background-color: $primary_gray;
    padding-top: 5%;
}

.footer_gray_info{
    text-align: center;
    
}


.footer_gray_p{
    padding: 3% 0;
}

.copyright{
    text-align: center;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 15px;
}

/*-----*/
/*---------- Til top--------- */

#myBtn {
    display: block;
    position: fixed;
    bottom: 200px;
    right: 7px;
    border-radius: 50%;
    background-color: $primary_black;
    color: $primary_white;
    height: 4%;
    width: 8%;
    padding-top: 5px;
    font-size: 18px;
}

/*-----*/
/*---------- Forside top icons--------- */

.top_icon_wrap{
    display: none;
}


/*-----*/
/*---------- Forside cover--------- */

.main_front {
    padding-top: 18%;
}

.cover_img{
    width: 100%;
    height: 50%;
    margin-top: 5%;
}

/*-----*/
/*---------- Img collection --------- */

.img_category{
    padding: 10px 5%;
}

.img_category_img{
    display: block;
    max-width: 100%;
    cursor: pointer;
    padding-bottom: 5%;
}

#img_category_p{
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.color_year, .color_trends{
    width: 48%;
}

.img_wrap_toBeside{
    display: flex;
    justify-content: space-between;
}


/*-----*/
/*---------- Find your paint --------- */

.find_paint{
    background-color: $primary_gray;
}

.find_paint_wrap {
    padding: 10px 5%;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    width: 100%; 
    height: 100%; 
}

/* 
.find_paint_text_site {
   grid-area: 1 / 1 / 2 / 3; 
}*/
  
.find_paint_img_site { 
    grid-area: 1 / 2 / 2 / 3; 
}
  

.find_paint_p{
   font-weight:600;
   text-align: center;
}

.find_paint_btn{
    text-align: center;
    padding: 5px 0px;
    margin: 15px 20%;
    width: 66%;
}

.color_code_img{
    width: 100%;
}

/*-----*/
/*---------- Loft eller væg maling --------- */
.wide_selection{
    padding-bottom: 5%;
}

.cealing_wall_wrap{
    display: flex;
    padding: 10px 5%;
    overflow: hidden;
    justify-content: space-between;
}

.celection_img{
    width: 95%;
    border: 1px solid $primary_black;
}
/*-----*/
/*---------- most sold products  --------- */
.most_sold{
    background-color: $primary_gray;
}

.most_sold_btn_wrap{
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 5px 16%;
}

.most_sold_btn{
    width: 45%;
    padding: 4px;
}

#indor_product, #outdor_product {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10%;
}

#outdor_product {
    display: none;
}

.product_most_sold_wrap{
    width: 30%;
    padding: 3.33%;
    border: 1px solid $primary_black;
    background-color: $primary_white;
}

.product_most_sold_img{
    width: 100%;
}

/*-----*/
/*---------- Brands --------- */

.brands_wrap{
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    width: 100%;
    padding: 10px 5%;
}

.dyrup_logo, .gori_logo, .hempel_logo {
    width: 100%;
}

/*-----*/
/*---------- Costumers says --------- */
.Costumers_says{
    background-color: $primary_gray; 
}

.costumer_says_text{
    text-align: center;
}

.trustpilot_logo{
    width: 30%;
    padding: 2%;
}

.mySlides{
    text-align: center;
    padding-bottom: 5%;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: $primary_black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/*-----*/
/*---------- 404 --------- */

.error{
    background-color: $primary_gray;
}

.error_wrap{
    text-align: center;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50%;
    padding-bottom: 50%;
}

.error_btn{
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    padding: 4px;
}



/* -------------- media query tablet / ipad mini --------------- */
@media screen and (min-width: 672px) and (max-width: 810px){

    /*Generel*/

    h2{
        font-size: 26px;
        padding: 5% 0 3%;
    }

    p {
        font-size: 16px;
    }

    .main_front {
        padding-top: 8%;
    }

    /*Navigation*/

    .nav-menu {
        width: 55%;
        justify-content: space-between;
        background-color: $primary_white;
        top: 115px;
    }

    .dropdown .dropbtn {
        font-size: 18px;  
        color: $primary_black;
        border: none;
        outline: none;
        padding: 14px 16px;
        background-color: inherit;
        margin: 0;
    }

    .column {
        width: 50%;
    }

    /*header*/
    .top_icon_wrap{
        display: none;
    }

    .prfile_img {
        width: 5%;
    }

    .Basket_img {
        width: 7%;
        height: 35px;
        margin-top: 3px;
    }

    /* Til top */
    #myBtn {
        height: 5%;
        width: 9%;
        padding-top: 6px;
        font-size: 30px;
    }


    /*Category img section*/
    
    .img_category {
        overflow: hidden;
    }

    .metallic_colors{
        float: right;
        width: 45%;
        padding-left: 5%;
    }

    .img_wrap_toBeside{
        width: 55%;
        justify-content: space-between;
    }

    .paint_furniture{
        width: 55%;
    }

    .get_the_style{
        float: right;
        width: 45%;
        padding-left: 5%;
        margin-top: -41.5%;
    }

    .let_you_inspirer{
        margin-top: -21%;
    }

    /* Find you paint*/

    .find_paint_text_site{
        margin-top: 10%;
    }

    /*loft eller væg maling*/
    .celing_paint_img {
        float: left;
    }

    .wall_paint_img {
        float: right;
    }

    /*top 4 most sold products*/

    .product_most_sold_wrap{
        width: 25%;
    }

    .product_name {
        font-size: 16px;
    }

    .Product_price {
       font-size: 20px;
    }

    /* Costumers says */
    .costumer_says_trustpilot {
        display: grid;
        grid-template-columns: 0.9fr 1.1fr;
        grid-template-rows: 1fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        width: 100%;
        height: 100%;
    }

    .Costumers_says {
        padding: 5% 0;
    }

    .costumer_says_p{
        width: 60%;
        margin-right: auto;
        margin-left: auto;
    }

    h2 {
        padding: 5% 6px 6%;
    }
      
    .costumer_says_text {
        grid-area: 1 / 0 / 2 / 3;
        padding-top: 20%;
    }
      
    .costumer_says_slider {
        grid-area: 1 / 2 / 2 / 3;
    }

    .trustpilot_logo{
        padding: 5% 2% 2%;
        width: 36%;
    }

    .next {
        right: -12%;
    }

    .prev {
        left: -12%;
    }

    /*Footer*/
    .footer_tab {
        display: flex;
    }

    .footer_tablet{
        width: 50%;
    }

    .footer_space {
        padding: 0 0 10%;
    }

    .some_wrap{
        padding-top: 5%;
    }

    .news_wrap{
        padding: 5% 0;
    }

    /*Footer gray*/

    .footer_gray {
        background-color: $primary_gray;
    }

    .footer_gray_info{
        text-align: center;
    }

    .footer_gray_p{
        padding: 2% 0;
    }

    /*404*/
    .error_btn{
        max-width: 50%;
    }


    
  

}


/* ------- media query (ipad pro +) laptop --------- */
@media screen and (min-width: 950px) {

    /*Generel*/

    h2{
        padding: 5% 0 3%;
    }

    .main_front {
        padding-top: 3%;
    }

    /*header / navigation*/
    .nav-menu{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        gap: 60px;
        position: inherit;
        top: 70px;
        width: 100%; 
    }
    
    .navbar {
        width: 100%;
        flex-direction: row;
        border-top: 1px solid $primary_black;
    }

    .dropdown .dropbtn {
        font-size: 17px;
    }

    .dropdown:hover .dropdown-content {
        font-size: 16px;
        padding-left: 5%;
    }

    .nav-link{ /*Hover effect*/
        transition: 0.7s ease;
    }

    .navbar a:hover, .dropdown:hover{
        background-color: $primary_green;
    }

    .hamburger{
        display: none;
    }

    /* Dropdown */

    .column {
        width: 25%;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    } 

    /*Top heder icons*/
    .top_icon_wrap{
        display: flex;
        justify-content: space-evenly;
        padding-top: 2%;
    }

    .top_icon{
        display: flex;
        width: 20%;
    }

    .top_icon_img{
        padding-right: 16px;
    }

    /*header*/

    .header_top {
        padding-bottom: 2%; 
    }

    .prfile_img {
        width: 3%;
    }

    .Basket_img {
        width: 4%;
        height: 38px;

    }

    .search_wrapper {
        text-align: center;
        padding-left: 18%;
        height: 10%;
    }

    /* Til top */
    #myBtn {
        max-height: 3%;
        max-width: 3%;
        padding-top: 6px;
        font-size: 30px;
        bottom: 170px
    }

    /*Cover img*/

    .cover_img{
        padding-top: 6%;
    }


    /*Category img section*/

    .logo {
        margin-bottom: -65px; 
        margin-left: 40px;
    }
    
    .img_category {
        overflow: hidden;
    }

    .metallic_colors{
        float: right;
        width: 45%;
        padding-left: 5%;
    }

    .img_wrap_toBeside{
        width: 55%;
        justify-content: space-between;
    }

    .paint_furniture{
        width: 55%;
    }

    .get_the_style{
        float: right;
        width: 45%;
        padding-left: 5%;
        margin-top: -41.5%;
    }

    .let_you_inspirer{
        margin-top: -21%;
    }

    /* Find you paint*/

    .find_paint {
        padding: 4% 0;
    }

    .find_paint_text_site{
        margin-top: 10%;
    }

    .find_paint_h2{
        width: 50%;
        margin-right: auto;
        margin-left: auto;
    }

    .color_code_img {
        width: 60%;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .find_paint_btn {
        margin: 15px 20% 15px 35%;
        width: 25%;
    }

    /*loft eller væg maling*/
    
    .cealing_wall_wrap {
        padding-bottom: 5%;
    }
    
    .celing_paint_img {
        float: left;
    }

    .wall_paint_img {
        float: right;
    }

    /*top 4 most sold products*/

    .product_most_sold_wrap{
        width: 25%;
    }

    .product_name {
        font-size: 16px;
    }

    .Product_price {
       font-size: 20px;
    }

    .most_sold_btn {
        width: 45%;
    }

    .most_sold_btn_wrap {
        padding: 5px 35%;
    }

    /* Costumers says */
    
    .Costumers_says {
        padding: 5% 0;
    }
    
    .costumer_says_trustpilot {
        display: grid;
        grid-template-columns: 1fr 1frfr 1.1fr; /* grid-template-columns: 0.9fr 1.1fr;*/
        grid-template-rows: 1fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        width: 100%;
        height: 100%;
    }
      
    .costumer_says_text {
        grid-area: 1 / 0 / 2 / 3;
        padding-top: 10%;
    }
      
    .costumer_says_slider {
        grid-area: 1 / 2 / 2 / 3;
    }

    .costumer_says_p {
        width: 60%;
        margin-right: auto;
        margin-left: auto;
    }

    .trustpilot_logo{
        padding: 5% 2% 2%;
        width: 36%;
    }

    .next {
        right: -12%;
    }

    .prev {
        left: -12%;
    }

    /*Footer*/
    .footer_tab {
        display: contents;
        justify-content: space-evenly;
        align-items: center;
        
    }

    .footer_info {
        display: flex;
        justify-content: space-evenly;
        padding-top: 5%;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        
    }

    .footer_tablet{
        width: 50%;
    }

    .footer_space {
        padding: 0 0 10%;
    }

    .some_wrap{
        padding-top: 5%;
    }

    .news_wrap{
        padding: 5% 0;
    }

    /*Footer gray*/

    .footer_gray {
        padding-top: 1%;
    }

    .footer_gray_info{
        text-align: left;
        display: inherit;
        display: flex;
        justify-content: space-evenly;
    }


    .footer_gray_p{
        padding: 3% 0;
    }

    .copyright{
        text-align: center;
        font-size: 12px;
        padding-top: 20px;
        padding-bottom: 15px;
    }

    /*404*/

    .error_wrap{
        padding-top: 20%;
        padding-bottom: 20%;
    }

    .error_btn{
        max-width: 30%;
    }

}